footer{
  background-color: var(--dark);
  height: 60px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-size: 5rem;
    color: white;
    text-align: center;
  }

}
