footer {
  background-color: var(--dark);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-info {
    width: 80%;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 4.5rem;
      color: white;
      text-align: center;
    }

    a {
      font-size: 4.5rem;
      text-decoration: underline;
      color: white;
    }

    div{
      display: flex;
      gap: 20px;
    }

  }
}
