header {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  height: 60px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    .nav-links {
      color: white;
      font-size: 6rem;
      font-weight: 700;
      text-decoration: none;

      &:hover{
        scale: 1.1;
        transition: .2s ease-in;
        color: var(--pink);
      }
    }

    div{
      display: flex;
      gap: 12px;
    }

  }
}
