<div class="dashboard-container activities-container">
  <div class="goals-container">
    <div>
      <h3>Goals</h3>
      <div style="display: flex; justify-content: space-between">
        <p>Top goals</p>
        <a href="">See all</a>
      </div>
    </div>
    <ul class="goals-list">
      <li class="list-item">
        <span>Have a good life</span>
        <div class="goal-status">
          <div class="percentage"></div>
        </div>
      </li>
      <li class="list-item">
        <span>Become a very good developer</span>
        <div class="goal-status">
          <div class="percentage" style="width: 60%"></div>
        </div>
      </li>
      <li class="list-item">
        <span>Achieve a spectacular physique</span>
        <div class="goal-status">
          <div class="percentage" style="width: 50%"></div>
        </div>
      </li>
    </ul>
  </div>

  <div class="tasks-container">
    <h3>Tasks</h3>
    <div style="display: flex; justify-content: space-between">
      <p>Main tasks</p>
      <a href="">See all</a>
    </div>

    <ul class="tasks-list">
      <li class="list-item">
        <span>Study topics x, y and z</span>
        <div class="flag">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="lightgreen"
            class="bi bi-flag-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"
            />
          </svg>
        </div>
      </li>
      <li class="list-item">
        <span>Take the dog to the vet</span>
        <div class="flag">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="cyan"
            class="bi bi-flag-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"
            />
          </svg>
        </div>
      </li>
      <li class="list-item">
        <span>Workout at 4:00 pm and drink my whey protein</span>
        <div class="flag">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="yellow"
            class="bi bi-flag-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"
            />
          </svg>
        </div>
      </li>
    </ul>
  </div>
</div>
