<div class="goals-container">
  <div>
    <h3>Goals</h3>
    <div style="display: flex; justify-content: space-between">
      <p>Top goals</p>
      <a href="">See all</a>
    </div>
  </div>
  <ul class="goals-list">
    <li class="goal-item">
      Study topics x, y and z
      <div class="goal-status">
        <div class="percentage"></div>
      </div>
    </li>
    <li class="goal-item">
      Take the dog to the vet
      <div class="goal-status">
        <div class="percentage" style="width: 60%"></div>
      </div>
    </li>
    <li class="goal-item">
      Workout at 4:00 pm
      <div class="goal-status">
        <div class="percentage" style="width: 50%"></div>
      </div>
    </li>
  </ul>
</div>
