.tasks-container {
  border-radius: 4rem;
  border: 2px solid var(--primary);
  background-color: var(--dark);
  padding: 20px;

  a {
    font-size: 6rem;
    color: white;

    &:hover {
      color: var(--pink);
      transition: 0.2s ease-in-out;
    }
  }

  div:first-child {
    background-color: var(--dark);
  }

  .tasks-list {
    font-size: 4.5rem;
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      padding: 4px 0px;
      color: white;
      border-bottom: 1.5px solid white;
      display: flex;
      justify-content: space-between;
    }
  }
}
