<div class="sidebar">
  <div class="sidebar-content">
    <div class="brand-container">
      <a href="" class="brand"> TR</a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="sidebar-links-list">
        <li *ngFor="let link of links" class="sidebar-link">
          <a [routerLink]="link.path" [title]="link.name">
            <i [className]="link.iconClass"></i>
            <span>{{ link.name }}</span>
          </a>
        </li>
        <div class="menu">
          <button class="toggle-btn" (click)="toggleDropdow()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="16"
              fill="currentColor"
              class="bi bi-list"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
              />
            </svg>
            <span>More</span>
          </button>

          <app-dropdown *ngIf="isDropdowVisible"></app-dropdown>
        </div>
      </ul>
    </div>
  </div>
</div>
