.sidebar{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.sidebar-content {
  background-color: var(--dark);
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  .brand-container {
    display: flex;
    width: 100%;

    a {
      background: linear-gradient(45deg, var(--pink), var(--primary));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        transition: 0.2s ease-in-out;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        display: none;
      }
    }
  }

  .sidebar-links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

    li {
      width: 100%;
      margin-inline: auto;
      a {
        color: white;
        font-size: 6rem;
        text-decoration: none;
        display: flex;
        gap: 10px;
        align-items: center;
        text-align: left;
      }

      svg {
        fill: white;
        height: 25px;
        width: 25px;
      }

      span {
        @media screen and (max-width: 1050px) {
          display: none;
        }
      }

      &:hover {
        svg {
          fill: var(--pink);
        }
        a {
          background: linear-gradient(45deg, var(--pink), var(--primary));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    & {
      position: fixed;
      bottom: 0px;
      height: 60px;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      padding-top: 0px;
      border-top: 2px solid var(--primary);
      z-index: 1000;
      box-shadow: 0px 0px  20px var(--primary);

      .sidebar-links-list {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 0px;
        gap: 10px;

        a {
          justify-content: center;
        }
      }
    }
  }
}
