.dropdown-container {
  position: absolute;
  bottom: 40px;
  background-color: var(--dark);
  z-index: 1;
  flex: 1;

  ul {
    display: grid;
    gap: 20px;
    padding: 8px 5px;
    border-radius: 1rem;
    border: 1px solid var(--primary);
    li {
      border-bottom: 1px solid var(--primary);
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 5px 10px;
      &:last-child {
        border: none;
      }
      a {
        text-decoration: none;
        font-size: 5rem;
        color: white;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  svg {
    width: 25px;
    height: 25px;
    fill: white;
  }

  @media screen and (max-width: 600px) {
    bottom: 80px;
    right: 10px;
  }
}
