:root{
  --primary: #3337ff;
  --pink: #ff2df8;
  --dark: #000000;
  --light-green: #5EE8A5;
  font-size: 4px;
  font-family: "Itim", cursive;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background-color: var(--dark);
}

.brand {
  color: white;
  font-size: 10rem;
  font-weight: 800;
  text-decoration: none;


  &:hover{
    scale: 1.1;
    transition: .2s ease-in;
  }
}
