.dashboard {
  display: grid;
  grid-template-columns: 250px auto 250px;
  background-color: var(--dark);
  max-width: 1500px;
  min-height: 100vh;
  margin-inline: auto;

  @media screen and (max-width: 1050px) {
    grid-template-columns: 80px auto;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: auto;
    margin-bottom: 60px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-color: var(--primary);
  border-style: solid;
  grid-template-rows: 80px 80px repeat(3, auto);
  border-width: 0px 2px 0px 2px;

  @media screen and (max-width: 600px) {
    & {
      border-width: 0px 0px 0px 0px;
      grid-template-rows: auto auto 0.5fr auto 1fr auto;
      main-container {
        width: 95%;
      }
    }
  }
}
